﻿
@model web.Models.FilmModel
@{

    ViewBag.Title = "Редактировать фильм";
}

<h3>@ViewBag.Title</h3>

<div style="margin-top: 30px;">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name">Название фильма:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="date">Год фильма:</label>
                    @Html.TextBoxFor(m => m.YearOfIssue, new { @class = "form-control", @type = "number" })
                </div>
                <div class="form-group">
                    <label for="date">Режисер фильма:</label>
                    @Html.TextBoxFor(m => m.Producer, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="date">Постер фильма:</label>
                    <input type="file" name="file" /><br>
                </div>
                <button id="save" type="submit" class="btn btn-warning">Сохранить</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date">Описание фильма:</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
        </div>
    }
</div>

