﻿@model PagedList.IPagedList<web.Models.FilmModel>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Фильмы";
}

@Html.AntiForgeryToken()
<h3>@ViewBag.Title</h3>
@{
    if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create", "Home")" class="btn btn-success btn"><span class="glyphicon glyphicon-plus"></span>Добавить</a>

    }
    else
    {
        <div class="row">
            <div class="col-md-5">
                <p class="colortext"><span class="glyphicon glyphicon-pushpin"></span> Для того, чтобы добавить фильм Вам необходимо авторизоваться </p>

            </div>
        </div>
    }
}
        <style>
            .colortext {
                color:red;  
                
            }
        </style>
@foreach (var v in Model)
{
    <div class="row" style="margin-top: 1%;">
        <div class="col-md-4 poster">
            <img src="@v.Image" />
        </div>
        <div class="col-md-8 text">
            <p><b>Название фильма:</b> @v.Name</p>
            <p><b>Описание фильма:</b> @v.Description</p>
            <p><b>Год выпуска:</b> @v.YearOfIssue</p>
            <p><b>Режисер фильма:</b> @v.Producer</p>

            @{
                if (v.IPCreator == User.Identity.GetUserId())
                {
                    <form method="get" action="@Url.Action("Edit","Home", new { id=v.Id})">
                        @Html.AntiForgeryToken()
                        <button class="btn btn-default" type="submit" title="Удалить"><span class="glyphicon glyphicon-pencil"> </span> Редактировать</button>
                    </form>
                }
            }

        </div>
    </div>
}
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))