﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.validation-summary-errors ul li {
    color: red;
    list-style-type: none;
}

.validation-summary-errors ul {
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
}

textarea {
    min-height: 18.4rem;
    max-height: 18.4rem;
    max-width: 50rem !important;
    min-width: 25rem !important;
}

.poster img {
    width: auto;
    max-height: 400px;
}

.text {
    word-wrap: break-word;
    max-width: 50%;
    text-align: left;
}
